/* Text colors */

.white_text{
    color: #fff;
}
.black_text{
    color: #000;
}
.grey_text{
    color: #908E8E;
}
.lightest_grey_type
{
    color: #CDCDCD;
}
.black_color_type{
    color:#474848;
}
.dark-teal-text{
    color:#00796B;
}
.grey_light_text{
    color: #515151;
}
.dark-yellow-text{
    color: #FF8503;
}
.yellow-stars{
    color: #FFB300;
}
.red_color_type
{
    color:#FF0000;
}
.text-black
{
    color:#515151;
}
/* Background colors */
.blue_color{
    background: #23A8F3;
}
.white_bg{
    background: #fff;
}
.lightest_grey{
    background: #F7F7F7;
}
.light_grey_color{
    background:#DFDFDF;
}
.lighter_grey_color{
    background: #F7F3F3;
}
.dark_grey_color{
    background: #B0B0B0;
}
.darker_grey_color{
    background:#908E8E;
}
.darkest_grey_color{
    background:#C4C4C4;
}
.black_color{
    background:#474848;
}
.dark-yellow{
    background: #FF8503;
}
.light-yellow{
    background:#FFD646;
}
.yellow_color{
    background:#FFB300;
}
.green_color{
    background:#009688;
}
.light_green_color{
    background:#4DB6AC;
}
.lighter_green_color{
    background:#E0F2F1;
}
.darker_green_color{
    background:#26A69A;
}
.dark-teal{
    background: #00796B;
}
.green-bg{
    background: #30AE4B;
}
.lightest_orange{
    background: #FFFBD5;
}
.cart-title-bg{
    background: #DDDDDF;
}
.light-blue-bg
{
    background:#0992A3;
}
.dark-blue-bg
{
    background:#0A6E7A;
}
