body{
    font-size: 13px;
    height: 100%;
    font-family: poppins;
}
.addon{
    background: #32BA99;
}
.btn-addon{
    border-radius: 20px;
    border: 2px solid #FFCA92;
}
.section-addon{
    background: #D2F2EA;
}
.card-addon{
    border-radius: 14px;
}
.cards-addon{
    z-index: 11;
    top: 140px;
}
.zig-zag-top{
    background: linear-gradient(-45deg, #D0F1E9 16px,  transparent 0),
    linear-gradient(45deg, #D0F1E9 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 40px 28px;
    content: " ";
    display: block;
    height: 25px;
    width: 100%;
    position: relative;
    top :0;
    left:0;
}
.gradient-addon{
    background: linear-gradient(180deg, rgba(208,241,233,1) 0%, rgba(255,255,255,1) 70%);
}
.row-first
{
    height: auto;
}
.footer-bottom
{
    cursor:pointer;
}
.bc-logo
{
    height:250px;
    bottom:0;
    right:0;
}
.modal-addon{
    border-radius: 25px;
}
.submit-btn-addon{
    border-radius: 25px;
}
.input-field{
    background: #FFFBD5;
    border: 1px solid #FF8503;
    border-radius: 12px;
}
.input-field:focus{
    background: #FFFBD5;
    border: 1px solid #FF8503;
}
.popup_img{
    position: relative;
    z-index: -11;
    top: 15px;
    left: 10px;
    width: 75%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.close-btn-addon{
    position: absolute;
    z-index: 11;
    right: 65px;
    top: 30px;
}
.close-btn-addon:hover{
    cursor: pointer;
}

.login-img-addon{
    right: 0;
    top: -17px;
    min-height: 75px;
    max-height: 75px;
}
.banner-img-addon{
    top: -25px;
}
.login-mob-addon{
    right: 0;
    top: -15px;
}

@media(max-width:576px){
    .row-addon{
        display: flex;
        flex-direction:column-reverse;
    }
    .bc-logo
    {
        position: static !important;
    }
    .row-first
    {
        padding: 10px !important;
    }
    .footer-bottom
    {
        float:none !important;
        text-align: center !important;
    }
}
@media(max-width:375px){
    .modal-form{
        padding: 10px 15px !important;
    }
    .close-btn-addon{
        right: 50px;
    }
}

