@charset "UTF-8";

@font-face {
  font-family: "bc-icon";
  src:url("fonts/bc-icon.eot");
  src:url("fonts/bc-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/bc-icon.woff") format("woff"),
    url("fonts/bc-icon.ttf") format("truetype"),
    url("fonts/bc-icon.svg#bc-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bc-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bc-"]:before,
[class*=" bc-"]:before {
  font-family: "bc-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bc-bc-back:before {
  content: "\61";
}
.bc-bc-eye:before {
  content: "\63";
}
.bc-bc-genrate:before {
  content: "\64";
}
.bc-bc-tick:before {
  content: "\65";
}
.bc-bulk-uplaod:before {
  content: "\66";
}
.bc-download-sample:before {
  content: "\67";
}
.bc-bc-bank-grey:before {
  content: "\6a";
}
.bc-bc-bussiness-blue:before {
  content: "\6b";
}
.bc-bc-cart-green:before {
  content: "\6f";
}
.bc-bc-menu-icon:before {
  content: "\71";
}
.bc-bc-plus-icon:before {
  content: "\72";
}
.bc-bc-search-icon:before {
  content: "\73";
}
.bc-bc-icon-subtract:before {
  content: "\74";
}
.bc-bc-search-icon-1:before {
  content: "\76";
}
.bc-bc-arrow-white-1:before {
  content: "\78";
}
.bc-bc-delete:before {
  content: "\79";
}
.bc-bc-edit:before {
  content: "\7a";
}
.bc-bc-tick-white:before {
  content: "\42";
}
.bc-bc-overview-icon:before {
  content: "\43";
}
.bc-bc-down-arrow:before {
  content: "\44";
}
.bc-bc-info:before {
  content: "\45";
}
.bc-bc-rupee-1:before {
  content: "\46";
}
.bc-bc-show-eye:before {
  content: "\47";
}
.bc-bc-close:before {
  content: "\48";
}
.bc-bc-order:before {
  content: "\49";
}
.bc-bc-ticket-raise:before {
  content: "\4a";
}
.bc-select-all:before {
  content: "\4b";
}
.bc-bc-dispatch:before {
  content: "\4c";
}
.bc-bc-order-1:before {
  content: "\4d";
}
.bc-bc-printerscan:before {
  content: "\4e";
}
.bc-bc-right-arrow:before {
  content: "\4f";
}
.bc-bc-preview:before {
  content: "\50";
}
.bc-bc-heart:before {
  content: "\51";
}
.bc-bc-star:before {
  content: "\52";
}
.bc-bc-phone-call-1:before {
  content: "\53";
}
.bc-bc-share:before {
  content: "\54";
}
.bc-bc-shopping-bag:before {
  content: "\55";
}
.bc-bc-twitter-logo-silhouette:before {
  content: "\58";
}
.bc-bc-user-1:before {
  content: "\59";
}
.bc-bc-wallet-1:before {
  content: "\5a";
}
.bc-bc-archive:before {
  content: "\30";
}
.bc-bc-book-1:before {
  content: "\31";
}
.bc-bc-bookmark-1:before {
  content: "\33";
}
.bc-bc-group-2:before {
  content: "\34";
}
.bc-bc-group-2-1:before {
  content: "\35";
}
.bc-bc-group-3:before {
  content: "\36";
}
.bc-bc-group-4:before {
  content: "\37";
}
.bc-bc-group-5:before {
  content: "\38";
}
.bc-bc-fashion:before {
  content: "\39";
}
.bc-bc-facebook-logo-button:before {
  content: "\21";
}
.bc-bc-clock:before {
  content: "\22";
}
.bc-bc-free-delivery:before {
  content: "\23";
}
.bc-bc-group:before {
  content: "\24";
}
.bc-bc-group-1:before {
  content: "\25";
}
.bc-bc-handshake:before {
  content: "\28";
}
.bc-bc-history:before {
  content: "\29";
}
.bc-bc-instagram:before {
  content: "\2a";
}
.bc-bc-left-arrow:before {
  content: "\2b";
}
.bc-bc-like-1:before {
  content: "\2d";
}
.bc-bc-maps-and-flags:before {
  content: "\2f";
}
.bc-bc-archive-1:before {
  content: "\26";
}
.bc-bc-exchange:before {
  content: "\2e";
}
.bc-bc-left-arrow-2:before {
  content: "\62";
}
.bc-bc-left-arrow-1:before {
  content: "\68";
}
