.star_icon{
    color:#F2A614;
}
#brand-name {
    text-decoration: none;
    color: #fff;
    margin: 0 !important;
}
.tick_sign{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: lightgrey;
}
.student_profile_logo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:1px solid black;
    cursor: pointer;
    margin-top: 5px;
    background-color: inherit;
}
.student_profile_logo:hover
{
    background-color: #454545;
    color: white;
}
.card {
    margin: 10px 0 !important;
}
.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    /* grid-gap: 5px; */
}
.grid > .card-body {
    padding: 10px !important;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 5px;
}
.grid3 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1px;
}
.grid3 > .card-body {
    padding: 10px !important;
}
.grid3 > .card-body > p {
    padding: 5px !important;
    margin: 0 !important;
}
.grid3 > .card-body > p > a {
    color: #fff;
    text-decoration: none;
}
.return-date {
    padding: 0 !important;
    /* color: #fff; */
    background: #fff;
}
.one,
.two,
.three {
    background: #108690;
    cursor:pointer;
}
.three>a{
    cursor:pointer;
}
.footer {
    padding: 15px;
    min-height: 60px !important;
    color: #fff;
    background: #333 !important;
    overflow: hidden;
}
#user-clock {
    display: none;
}
.right-content {
    padding: 5px;
    margin-right: 3%;
    font-size: 16px;
}
.right-content > p {
    margin: 0 !important;
}
.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-gap: 12px;
    margin-top: 1%;
}
.reviews {
    border: none !important;
}
.reviews > .card-body {
    padding: 5px !important;
}

.btn2 {
    width: 100% !important;
    background: #108690 !important;
    border: none !important;
}
.btn2 > a {
    color: #fff;
    text-decoration: none;
}
.btn1 {
    padding: 7px 12px;
    font-size: 12px !important;
    color: #108690;
    background: #fff;
    border: 1px solid #108690;
    border-radius: 20px;
}
.btn1:hover {
    color: #fff;
    background: #108690;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.grid5 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 15px;
    margin: 10px;
}
.fa-user {
    margin-top: 8px !important;
    margin-right: 20px !important;
    font-size: 25px;
}
.grid6 {
    display: grid;
    grid-template-columns: 12% 88%;
    grid-gap: 8px;
}
.grid8 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-bottom: 10px;
}
.books-you-might-like {
    border: none !important;
    margin: 0 !important;
}
.books {
    padding: 5px !important;
}
.has-search .form-control {
    border: none !important;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.write-review {
    border: 0px;
    border-bottom: 1px solid black;
    border-radius: none;
    color: #333 !important;
    background-color: inherit;
    width:100%;
}
.write-review:focus, .write-review:active, .write-review:hover  {
    outline: none !important;
    color:#333;
    box-shadow: none;
}
.modal-body,
.modal-header,
.modal-footer {
    border: none !important;
    padding: 15px !important;
}
.modal-footer>.btn{
    padding: 5px 25px !important;
}
#owl-test .item {
    display: block;
    margin: 20px;
    color: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.owl-carousel {
    height: 100% !important;
}
.owl-carousel .owl-stage-outer {
    max-height: 500px !important;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
}

.owl-theme .owl-buttons i {
    margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -45px;
    top: 55px;
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -45px;
    top: 55px;
}
.books {
    padding: 15px !important;
    width: 100% !important;
}
.others-content {
    padding: 5px;
}
.modal-header {
    padding: 8px 20px !important;
}
.modal-body {
    padding: 8px 20px !important;
}
.slider-content {
    margin-bottom: 20px;
    margin-top: 0 !important;
}
.book-title {
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}
@media (max-width: 992px) {
    .grid5 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid8 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid4 {
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 15px;
    }
}

@media (max-width: 768px) {
    #user-history {
        display: none;
    }
    #user-clock {
        display: block;
    }
.grid5 {
    grid-template-columns: repeat(2, 1fr);
}
.grid8 {
    grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 767px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .grid3 {
        grid-template-columns: 1fr;
        grid-gap: 5px !important;
    }
    .grid3 > .card-body {
        padding: 5px !important;
    }
    .grid4 {
        grid-template-columns: 2fr;
        grid-gap: 5px;
    }
    .others {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .test {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .right-content {
        font-size: 14px;
    }
    #user-history {
        display: none;
    }
    #user-clock {
        display: block;
    }
.return-date {
    color: #000 !important;
    background: #fff;
}
.grid3 > .card-body > p > a {
    color: #fff;
}
.one,
.two,
.three {
    background: #108690;
    cursor:pointer;
}
.reviews {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.grid5 {
    grid-template-columns: 2fr;
}
.grid7 {
    display: grid;
    grid-template-columns: 25% 75%;
}
.books-you-might-like {
    width: 100% !important;
    margin: 0 !important;
}
.grid8 {
    grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 376px) {
    body {
        font-size: 12px !important;
    }
    .btn,
    .btn1 {
        font-size: 10px !important;
    }
    .footer {
        padding: 10px !important;
        font-size: 12px !important;
    }
    .right-content {
        font-size: 12px;
        margin-right: 0 !important;
    }
    .grid5 {
        margin: 0 !important;
    }
    .books {
        padding: 8px !important;
    }
}
