body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  font-size: 16px;
}
img {
  height: 25px;
  width: 25px;
}
nav {
  background: #fff;
  margin-top: 15px;
  height: 70px;
}
.navbar-nav {
  margin-left: 100px;
}
.nav-item {
  margin-right: 150px;
}
.nav-link {
  color: #607d8b !important;
}
.nav-link:hover {
  color: #000 !important;
}
.card {
  box-shadow: 0 0 5px #607d8b;
  margin-bottom: 25px;
}
.card-title {
  float: left !important;
  margin-left: 15px !important;
}
img {
  height: 25px !important;
  width: 25px !important;
  float: left;
}
.fa-shopping-bag {
  margin-left: 30%;
  -moz-margin-start: 210px;
}
.fa-ellipsis-v {
  cursor: pointer;
}
.left-content {
  float: left;
  padding: 5px;
  margin: 0;
  width: 100%;
  height: auto;
}
.right-content {
  float: right;
  padding: 5px;
  width: 150%;

  -webkit-margin-start: 2px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-top: 20px;
}
.dropdown-menu {
  height: 80px !important;
  left: -20 !important;
  padding: 5px;
  width: 100px !important;
  transform: translate3d(250px, 45px, 0px) !important;
}
.dropdown-menu > a {
  display: block;
  text-decoration: none;
  padding: 5px;
}
.dropdown-menu > a:hover {
  background: #eee;
  color: #000 !important;
}
/* Media Queries */

@media (max-width: 600px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    height: 80% !important;
    padding: 5px;
    margin-top: 10px;
  }
  .dropdown-menu {
    position: relative;
    transform: translate3d(90px, 30px, 0px) !important;
  }
  .card-title {
    font-size: 16px;
  }
  .card-body {
    padding: 5px;
  }
  .row {
    margin: 0 !important;
  }
  .left-content {
    font-size: 12px;
    width: 100%;
  }
  .right-content {
    font-size: 12px;
    width: 100%;
  }
  .fa-shopping-bag {
    margin-left: 25% !important;
  }
  /* nav{
    width: 100% !important;
  } */
}
@media (min-width: 600px) {
  .card-body {
    padding: 10px !important;
  }
  .card-title {
    font-size: 14px;
    margin-top: 5px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .left-content {
    width: 100%;
    font-size: 12px;
  }
  .right-content {
    width: 100%;
    font-size: 12px;
  }
  .row {
    margin: 0 !important;
  }
}
@media (max-width: 300px) {
  .card-title {
    font-size: 12px !important;
  }
  /* .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5px;
  } */
  .left-content {
    width: 100%;
    font-size: 10px !important;
  }
  .right-content {
    width: 100%;
    font-size: 10px !important;
  }
}
@media (max-width: 365px) {
  .fa-shopping-bag {
    margin-left: 25% !important;
  }
  .dropdown-menu {
    transform: translate3d(200px, 50px, 0px) !important;
  }
  .row {
    margin-left: 0 !important;
  }
  .card-body {
    padding: 5px;
  }
  .card-title {
    font-size: 14px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  .left-content {
    width: 100%;
    font-size: 10px;
  }
  .right-content {
    width: 100%;
    font-size: 10px;
  }
}

@media (max-width: 375px) {
  .fa-shopping-bag {
    margin-left: 30%;
  }
  .dropdown-menu {
    transform: translate3d(100px, 10px, 0px) !important;
  }
  .row {
    margin: 0 !important;
  }
  .card {
    margin-left: 5px !important;
  }
  .card-title {
    font-size: 16px;
  }
  .card-body {
    padding: 10px !important;
  }
}

@media (max-width: 320px) {
  .fa-shopping-bag {
    margin-left: 10%;
  }
  .card-title {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 8px !important;
  }
  img {
    height: 20px !important;
    width: 20px !important;
  }
  .dropdown-menu {
    transform: translate3d(60px, 35px, 0px) !important;
  }
  .card-body {
    padding: 5px;
  }
  .navbar-nav {
    margin-left: 25px;
    padding: 10px;
  }
  .navbar-nav > li {
    margin-left: 55px;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 14px;
  }
  .left-content {
    float: left;
    width: 100%;
  }
  .right-content {
    float: right;
    padding: 5px;
    width: 100%;
    padding-left: 10px;
  }
  .dropdown-menu {
    transform: translate3d(100px, 35px, 0px) !important;
  }
  .card-body {
    padding: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .fa-shopping-bag {
    margin-left: 25%;
  }
  img {
    height: 10px;
    width: 10px;
  }
  .card-body {
    padding: 10px;
  }
  .grid {
    font-size: 12px;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1.5fr);
  }
  .card-title {
    font-size: 16px;
  }
  .left-content {
    width: 100%;
    height: 100%;
  }
  .right-content {
    width: 100%;
    height: 100%;
    padding: 5px;
  }
}
@media only screen and (min-width: 1024px) {
  .card-title {
    font-size: 18px !important;
  }
  .dropdown-menu {
    position: relative;
    transform: translate3d(110px, 40px, 0px) !important;
  }
  .fa-shopping-bag {
    margin-left: 30%;
  }
  .card-body {
    padding: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .card-title {
    font-size: 20px !important;
  }
  .right-content {
    width: 100%;
  }
  .fa-shopping-bag {
    margin-left: 50%;
  }
  .dropdown-menu {
    position: relative;
    transform: translate3d(245px, 35px, 0px) !important;
  }
  .card-body {
    padding: 10px;
  }
}

@media only screen and (min-width: 1465px) {
  .dropdown-menu {
    transform: translate3d(240px, 35px, 0px) !important;
  }
  .card-body {
    padding: 10px;
  }
}

/* @media (min-width: 1024) and (max-width: 1096) {
  .fa-shopping-bag {
    margin-left: -15% !important;
  }
  .card-body{
    padding: 5px;
  }
} */
/* @media (min-width:1500){
  .fa-shopping-bag {
    margin-left: 0;
  }
} */
