.card-1{
	width: 100%;
	height: 85%;
	padding: 20px;
	border: 1px solid white;
	box-shadow: 0 0 10px #D3D3D3;
	border-radius: 2%;
	margin-top: 40px;
}
#toggler-btn{
	position: relative;
	right: -82%;
	text-align: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.search{
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.capsule-btn{
	margin-left: 5px;
	margin-right: 5px;
	padding-right: 20px !important;
	padding-left: 20px !important;
	border-radius: 500px !important;
}
.dropdown-menu a
{
	color: black;
	z-index: 100;

}
.dropdown-links
{
	border-bottom: 1px solid #dee2e6 ;
}
.submit_btn{
	color:#474848;
	background-color: yellow;
	font-weight: 700;
	font-size: 16px;
}
.btn-dropdown{
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1;
	color: #555;
	background-color: #F9F9F9;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.edit-button:after {
	content: '\2807';
	color: #2e2e2e;
	cursor:pointer;
}
.card-overview{
	width: 100%;
	padding: 20px;
	border: 1px solid white;
	box-shadow: 0 0 10px #D3D3D3;
	border-radius: 2%;
}
/*dropdown css*/
.wrapper-dropdown-3 {
	/* Size and position */
	position: relative;
	width: 100%;
	padding-left: 10px;
	padding-top: 3px;
	/* Styles */
	background: #F9F9F9;
	border-radius: 7px;
	border: 1px solid rgba(0,0,0,0.15);
	cursor: pointer;
	outline: none;
	/* Font settings */
	font-weight: bold;
	color: #555;
	height: 34px;
}
.wrapper-dropdown-3:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -3px;
	border-width: 6px 6px 0 6px;
	border-style: solid;
	border-color: grey transparent;
}
.wrapper-dropdown-3 .dropdown {
	/* Size & position */
	position: absolute;
	z-index: 1;
	top: 140%;
	left: 0;
	right: 0;
	padding-left: 0px;
	/* Styles */
	background: white;
	border-radius: inherit;
	border: 1px solid rgba(0,0,0,0.17);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	font-weight: normal;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	list-style: none;
	/* Hiding */
	opacity: 0;
	pointer-events: none;
}
.wrapper-dropdown-3 .dropdown:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 15px;
	border-width: 0 6px 6px 6px;
	border-style: solid;
	border-color: #fff transparent;
}
.wrapper-dropdown-3 .dropdown:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	bottom: 100%;
	right: 13px;
	border-width: 0 8px 8px 8px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1) transparent;
}
.wrapper-dropdown-3 .dropdown li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #474848;
	border-bottom: 1px solid #e6e8ea;
	box-shadow: inset 0 1px 0 rgba(255,255,255,1);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.wrapper-dropdown-3 .dropdown li i {
	float: right;
	color: inherit;
}
.wrapper-dropdown-3 .dropdown li:first-of-type a {
	border-radius: 7px 7px 0 0;
}
.wrapper-dropdown-3 .dropdown li:last-of-type a {
	border: none;
	border-radius: 0 0 7px 7px;
}
/* Hover state */
.wrapper-dropdown-3 .dropdown li:hover a {
	background: #f3f8f8;
}
/* Active state */
.wrapper-dropdown-3.active .dropdown {
	opacity: 1;
	pointer-events: auto;
}
/* No CSS3 support */
.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
	display: none;
	opacity: 1; /* If opacity support but no pointer-events support */
	pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
	display: block;
}
/*end of dropdown css*/
.plus-icon
{
	float:right;
	width: 30px;
	border-radius: 50%;
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
	padding-top: 4px;
	padding-right: 1px;
	text-decoration: none;
}
.expend-icon
{
	color:white;
	text-align: center;
	margin-top: 12px;
}
.expend-icon-font
{
	height: 20px;
	width: 40px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

	margin: auto;
}
.toogle-click
{
	display: inline-block;
	margin-left: 9px;
}
