.footer-style
{
	padding-left: 0px;
	padding-right: 0px;
	background-color: #474748;
	padding-top: 12px;
	padding-bottom: 16px;
	bottom: 0px;
	left:0px;
	right:0px;
	width: 100%;
}
.footer-links
{
	color: white;
	text-decoration: none;
}
.footer-content
{
	font-size: 14px;
	color: white;
	text-decoration: none;
	clear: both;
	position: relative;
	z-index: 10;
	margin-top: -3em;
}
.footer-content:hover
{
	color: white;
	text-decoration: none;
}
.links
{
	text-align: -webkit-center;
	text-align: -moz-center;
	width: 100%;
	vertical-align: text-bottom;
}
.referals
{
	margin-top: 5px;
}
.referals:hover
{
	color: white;
	text-decoration: none;
}
