body{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}
.background_box{
	border: 2px solid darkgrey;
	box-shadow: 0 0 10px #D3D3D3;
}
.padding-20{
	padding: 20px;
}
.padding-zero{
	padding: 0;
}
.padding-top-10{
	padding-top: 10px;
}
.padding-top-15{
	padding-top: 15px;
}
.padding-left-30{
	padding-left: 30px;
}
.padding-left-50{
	padding-left: 50px;
}
.padding-top-50{
	padding-top: 50px;
}
.padding-left-20{
	padding-left: 20px;
}
.padding-right-20{
	padding-right: 20px;
}
.padding-right-10{
	padding-right: 10px;
}
.padding-left-10{
	padding-left: 10px;
}
.padding-top-50{
	padding-top: 50px;
}
.display-none{
	display: none;
}
.display-inline{
	display: inline-block;
}
.display-inline-2{
	display: inline;
}
.margin-auto{
	margin: auto;
}
.margin-5{
	margin: 5px;
}
.margin-10{
	margin: 10px;
}
.display-none{
	display: none;
}
.align-center{
	text-align: center;
}
.margin-top-10{
	margin-top: 10px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-bottom-10{
	margin-bottom: 10px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.margin-bottom-40{
	margin-bottom: 40px;
}
.margin-bottom-50{
	margin-bottom: 50px;
}
.margin-right-25{
	margin-right: 25px;
}
.margin-right-58{
	margin-right: 58px;
}
.margin-left-10{
	margin-left: 10px;
}
.margin-right-10{
	margin-right: 10px;
}
.margin-15{
	margin: 15px;
}
.margin-20{
	margin: 20px;
}
.margin-25{
	margin: 25px;
}
.height-100{
	height: 100%;
}
.width-100{
	width: 100%;
}
.border-zero{
	border: 0px;
}
.shadow-border{
	border: 1px solid white;
	box-shadow: 0 0 10px #D3D3D3;
}
.shadow-border-top{
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right:1px solid white;
	border-top : 0px;
	box-shadow: 0 0 10px #D3D3D3;
}
.shadow-border-bottom{
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right:1px solid white;
	border-bottom : 0px;
	box-shadow: 0 0 10px #D3D3D3;
}
.height-inherit{
	height: inherit;
}
.round-border{
	border-radius: 2%;
}
.bottom-0{
	bottom: 0;
}
button:focus{
	outline: none;
}
.width-30{
	width: 30%;
}
.height-90{
	height: 90%;
}
.btn-link{
	text-decoration: none;
	padding:0px;
	margin:0px;
	border:0px;
	color:black;
}
.search-bar-style{
	padding:10px;
	background-color: #f5f3f3;
}
.btn-link:hover{
	text-decoration: none;
	color:black;
	padding:0px;
	margin:0px;
	border:0px;
}
.border-solid-black-top{
	border-top: 1px solid #DFDFDF;
}
.border-solid-black{
	border: 1px solid #DFDFDF;
}
.outer{
	/*min-height:65vh;
	position:relative;*/
}
.search-bar-style:focus, .search-bar-style:active, .navinput:focus, .navinput:active {
    outline: none !important;
    box-shadow: none;
    border:none;
}
