body{
font-family:roboto !important;
}
.header-category{
font-weight:600 !important;
font-size:0.85rem !important;

}
.bc-input-addon {
	position: absolute;
	top: 10px;
	right: 8px;
	z-index:1000;
}
.search-btn {
	background-color: #ffb300;
	color: #ffffff !important;
}
.bc-full{
	width:100vw;
}
.header_bar
{
    background: #108690 !important;
}
.theme-text-color
{
    color: #108690 !important;
}
.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    margin-top: 5px;
}
.profile:hover
{
    background-color: #454545;
    color: white;
}
.issue_history, .school_title{
    color: white !important;
}
.black_color_type
{
    color:black;
}
.owl-nav{
    display: block !important;
}
.owl-prev,
.owl-next {
    position: absolute;
    top:220px;
    transform: translateY(-50%);
}
.owl-prev {
    left: -5px;
}

.owl-next {
    right: -5px;
}
.owl-dots{
    display: none;
}
.heart_icon{
    position:relative;
    color: white !important;
}
.badge_notification{
    top:-5px;
    right:-5px;
    position:absolute;
    font-size:8px;
}
.log-out
{
    position: absolute !important;
    z-index: 100 !important;
    right: 5px !important;
    top: 45px !important;
    background-color: white;
    color: #454545;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    border-radius:5px;
}
.dropdown-item:active{
    background-color: white !important;
}
.log-display
{
    display:none;
}
@media (max-width: 768px) {
.profile{
    margin-top: 3px!important;
}
}
a{
  text-decoration: none !important;
}
button{
  outline: none ;
}
.search_inline:focus, .search_inline:active{
    box-shadow: none;
}
.search_icon{
    position:absolute;
    right:20px;
    top:5px;
    color: grey;
    background-color: transparent;
    border: none;
}
.search_inline{
    border: 0px;
    border-bottom: 1px solid #B6B6B6;
    border-radius: none;
    color: #696969;
    background-color: inherit;
    width:100%;
}
.category-button{
  font-size: 16px;
  background: #fff ;
  color: #333 !important;
  border: none !important;
  padding: 5px 15px !important;
}
.dropdown:hover >.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
/* .btn > a {
  color: red !important;
  text-decoration: none;
} */
.dropdown-menu > a {
  color: #333 !important;
  border-bottom: 1px solid #85929e;
}
.dropdown-menu > a:last-child {
  border: none;
}
div.grid2 > div.card-body img{
	height:242px !important;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.linear-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    height: 12px;
    position: relative;
    overflow: hidden;
}
.book-availability {
	display: none;
	position: absolute;
	z-index: 1;
	bottom: 44px;
	left: 0;
	right: 0;
}
.test3 {
  display: block !important;
}
.bar-code {
  display: none;
	position: absolute;
	z-index: 1;
	bottom: 44px;
	left: 0;
	right: 0;
}
.overlay {
	display:none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	z-index: 100;
	opacity: 0.6;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
	position:absolute;
top:45%;
left:45%
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/******************************************** Recommended Category Modal CSS ************************************************/
.square
{
    height: 150px;
    width: 150px;
    border: 1px solid darkgrey;
}
.img-square
{
    height: 150px;
    width: 150px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.img-square.bc-active {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.category-title {
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100px;
	word-wrap: break-word;
	white-space: normal;
}
.checkbox_icon
{
    top:0;
    right:0;
    display:none;
    color:#FFF;
}
.submit-button
{
    background: #FF8503;
}
.content-margin
{
	margin:1px;
}
.checkbox_icon.bc-active
{
    color:#FFF !important;
    display:block !important;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
	