.main{
  margin-bottom:10px;
}
p {
  margin: 0 !important;
}
.star_icon{
    color:#F2A614;
    position:absolute;
    top:1px;
    right:1px;
    font-size:12px;
}
.rating_button{
    width:40px !important;
    position:relative;
    font-size:12px;
}
.book-title {
  margin: 0 !important;
}
#brand-name {
  text-decoration: none;
  color: #fff;
}
/* .navbar {
  background: #108690 !important;
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
}
#nav-list {
  display: inline-flex !important;
} */
.card_design {
  /* background: #eee; */
  /* border: none !important; */
  margin-bottom:10px;
  box-shadow: 0 0 5px #B0B0B0;
}
.card-body {
  padding: 10px !important;
  height: 100% !important;
}
.inner-content{
  background: #fff !important;
}
/* .row > [class^="col-"] {
  margin: 2px;
} */
/* .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 30px 10px;
} */
.grid2 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 5px;
}
.grid2 > .card-body {
  padding: 5px !important;
}

.return-date {
  padding: 15px !important;
  color: #fff;
  background: #108690;
}
.return-date > p {
  padding: 5px !important;
  margin: 0 !important;
}
.footer {
  padding: 15px;
  min-height: 60px !important;
  color: #fff;
  background: #333 !important;
  overflow: hidden;
}
#user-clock {
  display: none;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* @media (max-width: 768px) {
  .footer {
    padding: 5px !important;
    font-size: 14px !important;
  } */
  /* #user-history {
    display: none;
  }
  #user-clock {
    display: block;
  } */
  /* #nav-list {
    display: inline-flex !important;
  }
  .navbar {
    max-height: 60px !important;
  } */
/* } */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  /* .nav-link {
    padding: 5px 10px !important;
  } */
}
@media (max-width: 426px) {
  body {
    font-size: 14px;
  }
  .grid {
    grid-template-columns: 1fr;
    margin: 30px 5px;
  }
  .col {
    padding: 15px 0 !important;
  }
  .col > h2 {
    font-size: 18px !important;
  }
}

/* @media (max-width: 376px) {
  .footer {
    padding: 10px !important;
    font-size: 12px !important;
  }
  .nav-link {
    padding: 5px !important;
  }
} */

@media (max-width: 374px) {
  .card-body > h6,
  .card-body > p {
    font-size: 14px !important;
  }
}
