.small-text {
  margin: 0 !important;
}
a{
  text-decoration: none !important;
}
button{
  outline: none ;
}
.search_inline:focus, .search_inline:active{
    box-shadow: none;
}
.img-wrap {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.img-wrap > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.view-more-link{
  font-size:14px;
  text-decoration: none;
  color: #108690;
}
.view-more-link:hover, .view-more-link:active, .view-more-link:visited{
    color: #108690;
    text-decoration: none !important;
}
.book-title {
  margin-top: 15px !important;
  margin-bottom: 0 !important;
}
.grp-name {
  margin: 5px;
}
.title1 {
  margin: 0;
  color: #108690;
  border-bottom: 3px solid #108690;
}
.title2 {
  margin: 0;
  color: #e74c3c;
  border-bottom: 3px solid #e74c3c;
}
.title3 {
  margin: 0;
  color: #8e44ad;
  border-bottom: 3px solid #8e44ad;

}
/* .profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: -3px;
} */
.author_heading {
  color: #fff;
  margin: 10px;
}
.title5 {
  color: #333;
  margin: 10px;
}
.literature {
  background: #ffa500;
}
.romance {
  background: #d63232;
}
.youth-age {
  background: #3232ff;
}
.crime {
  background: #db3287;
}
.sci-fi {
  background: #3232ff;
}
.author-content {
  background: #108690;
  padding: 10px;
  margin-bottom: 10px;
}
.card {
  border: none !important;
}
.second-nav {
  background: #fff !important;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.category-button{
  font-size: 16px;
  background: #fff ;
  color: #333 !important;
  border: none !important;
  padding: 5px 15px !important;
}
.btn:focus,
.btn:active,
.btn:visited,
.form-control {
  outline: none !important;
  box-shadow: none !important;
}
.dropdown:hover >.dropdown-menu {
  display: block;
}
.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.btn > a {
  color: red !important;
  text-decoration: none;
}
.btn1 {
  font-size: 12px !important;
  background: #108690 !important;
  color: #fff !important;
  border: 1px solid #108690 !important;
  padding: 5px 25px !important;
  border-radius: 15px;
  cursor:pointer;
}
.btn1 > a {
  color: #fff !important;
}
.category_button {
  font-size: 10px;
  color: #fff;
  padding: 3px 5px;
  border: none;
  margin: 3px;
}
.btn3 {
  width: 100% !important;
  font-size: 14px !important;
  color: #fff !important;
  padding: 5px 10px !important;
  border: none !important;
  margin-bottom: 5px !important;
  border-radius: 0 0 10px 10px;
}

.club-image{
  border-radius: 10px 10px 0 0;
}
.round{
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.books {
  padding: 15px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.reader-content{
  margin-bottom: 15px;
}
.club-items{
  margin:5px;
}
#owl-demo .item {
  display: block !important;
  background: #fff;
  margin: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-carousel {
  height: 70%;
}
.owl-carousel .owl-stage-outer {
  height: 70%;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
.owl-theme .owl-buttons i {
  margin-top: 2px;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
  left: -45px;
  top: 55px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
  right: -45px;
  top: 55px;
}
.grid2 {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 5px;
}
/* .author-of-month {
  margin-top: 10px !important;
  margin-left: 15% !important;
  margin-right: 15% !important;
  margin-bottom: 3% !important;
  line-height: 1.7;
  box-shadow: 0px 2px 10px #34495E;
} */
.card_content{
    font-size: 12px;
    color: #908E8E;
    padding-top: 8px;
    padding-bottom: 8px;
}
.card_content_data{
    font-size: 12px;
    color: #474848;
    font-weight: 700;
}
.img-height{
    height:25vh !important;
    width:auto;
}
.student-of-month {
margin: 0 auto;
float: none;
margin-bottom: 10px;
}
.last-content {
  padding: 10px;
  background-image: url(../../images/students_Group_Image.svg);
  background-size: contain;
}
.fa-star{
  color:#f2a614;
}
.dropdown-menu > a {
  color: #333 !important;
  border-bottom: 1px solid #85929e;
}
.dropdown-menu > a:last-child {
  border: none;
}
/* .carousel-item {
  animation: fade 8s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.2;
  }
} */
/* @media (min-width: 768px) {
  .categories {
    display: none !important;
  }
} */
@media (max-width: 768px) {
  #owl-demo .item {
    margin: 10px;
  }

  .books {
    padding: 10px !important;
    margin: 0 !important;
  }
  .grid {
    grid-gap: 10px !important;
  }
}
@media (max-width: 992px) {
  .form-control {
    font-size: 14px !important;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  /* body {
    font-size: 14px !important;
  }
  #user-history {
    display: none !important;
  }
  /* #user-clock {
    display: block !important;
  } */
  /* #nav-list {
    display: inline-flex !important;
    margin: 0 !important;
  }
  #nav-items {
    display: none !important;
  } */ */
  /* .categories {
    display: block !important;
    width: 100% !important;
  }
  .categories > button {
    width: 100% !important;
  }
  .categories > .dropdown-menu > a {
    font-size: 14px !important;
  } */
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .author-of-month {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  /* .student-of-month {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  } */
  .grid3 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .btn1 {
    font-size: 10px !important;
  }
}
@media (max-width: 376px) {
  .footer {
    padding: 10px !important;
    font-size: 12px !important;
  }
  /* .nav-link {
    padding: 5px !important;
  } */
  /* .categories > .btn {
    font-size: 12px !important;
  } */
  .form-control {
    font-size: 12px !important;
  }
  .grid {
    grid-gap: 10px !important;
    grid-template-columns: repeat(2, 1fr);
  }
  .slide-content {
    font-size: 12px !important;
  }
  .grid3 {
    grid-gap: 5px;
  }
}
@media (max-width: 397px) {
  .img-height {
      height:40vh !important;
  }
}
.banner_image
{
    width: 100%;
    height: 300px;
    left: auto;
    right: 0px;
    top: 0px;
    bottom: auto;
    visibility: visible;
}
