.card > img {
    width: 100%;
    height: 600px !important;
}
.card {
    border: none !important;
    width: 100% !important;
    height: 100% !important;

}
.nav-link
{
    cursor: pointer;
}
.input_inline:focus, .input_inline:active{
    outline: none !important;
    box-shadow: none;
}
form .error
{
    color: red;
    font-size:14px;
}
.toggle_option{
    border:2px solid #009688;
    display: table;
    padding-left: 0px;
    margin-left: 0px;
    margin: 0 auto;
}
.fingerprint{
    display: table;
    padding-left: 0px;
    margin-left: 0px;
    margin: 0 auto;
}
.nav-pills, .nav-link
{
    border-radius:0px !important;
}
.nav>li>a{
    color: #474848 !important;
}
.nav>li>a.active,
.nav>li>a:focus {
    background-color: #009688 !important;
    color: #FFF !important;
}
.nav>li>a:hover{
    text-decoration: none !important;
}
.card-body {
    height: 100% !important;
    margin-bottom: 0 !important;
}
.card-body > img {
    width: 40%;
    height: 40%;
    margin-top: 50px !important;
    margin-left: 25% !important;
}

.form {
    background: #fff;
    padding: 5px !important;
	margin-bottom:40px;
}
.form-group {
    margin-top: 5px;
    margin-bottom: 0 !important;
}
.form-control {
    background: #eee !important;
    border: none !important;
}
.form-text {
    float: right;
    font-size: 12px !important;
    margin-top: 15px;
    color: #108690 !important;
}
.btn {
    margin-top: 20px;
    position: relative;
    padding: 8px 50px;
    border-radius: 35px;
    background: #108690;
    color: #fff;
    font-weight: bold;

}
p {
    font-weight: bold;
    font-size: 16px !important;
    float: right;
    margin-right: 8% !important;
}
.display_img {
    height: 100% !important;
    width: 100% !important;
}

@media (max-width: 376px) {
    .body {
        background: #f2a614 !important;
        font-size: 14px !important;
    }
    .card {
        margin: 0 !important;
        margin-top: 8% !important;
        height: 100% !important;
        background: #fff;
    }
    .card-body {
        padding: 5px !important;
        height: 100% !important;
    }
    .title {
        font-size: 14px !important;
    }
    .display_img {
        display: none !important;
    }
    .btn {
        margin-left: 8% !important;
        padding: 5px 30px !important;
    }
    .main-content {
        position: relative;
        margin-top: 30% !important;
    }
    .main-content > .card-body {
        padding: 5px !important;
    }


}
@media (max-width: 426px) {
    .main-content {
        position: relative;
        margin-top: 15% !important;
    }
    .col-xs-12,
    .col-lg-7,
    .col-lg-5 {
        margin: 0 !important;
    }
}
@media only screen and (max-width: 600px) {
    .main-content {
        position: relative;
        margin-top: 10% !important;
    }
}

@media (max-width: 768px) {
    .body {
        font-size: 14px !important;
    }
    .btn {
        font-size: 14px !important;
        margin-left: 14% !important;
    }
    .form {
        margin-top: 5% !important;
    }

    .main-content > .card > .card-body {
        padding: 5px !important;
    }
}
@media (max-width: 767px) {
    body {
        margin: 0 !important;
        height: 100% !important;
        background: #f2a614;
    }
    .title {
        display: block !important;
        text-align: center;
        padding: 5px !important;
        margin: 10px !important;
        margin-top: 5px !important;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    .display_img {
        display: none !important;
    }
    .mobile {
        z-index: -1 !important;
    }
    .main-content {
        top: -100px !important;
        position: relative;
        z-index: 1 !important;
        /* margin-top: -20 !important; */
    }
    .tab_img {
        margin-left: 10% !important;
        margin-top: 5% !important;
        position: relative;
        display: block;
        height: 35% !important;
        width: 75% !important;
        z-index: -1 !important;
    }
    .card {
        position: relative;
        /* margin-top: -30% !important; */
        width: 100% ;
        height: 100% ;
        margin-top: 0 !important;
        margin-bottom: 2% !important;
        z-index: 1 !important;
        /* margin-right: 10% !important; */
    }
    .card-body {
        padding: 15px;
        width: 100%;
        height: 100% !important;
        /* margin-left: 10% !important; */
    }
    .card-body > img {
        height: 30%;
        width: 30%;
        margin-top: 2% !important;
        margin-left: 35% !important;
    }

    .form {
        margin-top: 5% !important;
        padding: 5px !important;
    }
    .form-group {
        margin-bottom: 0 !important;
    }
    /* .col {
    margin: 0 !important;
    } */

    .btn {
        margin-top: 8% !important;
        /* margin-left: 40% !important; */
        padding: 5px 35px;
    }
    .form-text {
        margin-top: 2% !important;
    }
    p {
        font-weight: bold;
    }
    .main-content > .card > .card-body {
        padding: 10px !important;
    }
}

@media (min-width: 768px) {
    .tab_img {
        display: none !important;
    }
    .title {
        display: none !important;
    }
    .mobile {
        display: none !important;
    }
}
@media (min-width: 992px) {
    .card-body {
        max-height: 100% !important;
        padding: 0 !important;
    }
    .card-body > img {
        margin-left: 32% !important;
        margin-top: 8% !important;
        width: 25% !important;
        height: 25% !important;
    }
    /* .display_img {
    height: 100% !important;
    width: 100% !important;
    } */
}
@media (min-width: 1024px) {
    .card-body {
        padding: 0 !important;
    }
    .card-body > img {
        margin-left: 30% !important;
        margin-top: 5% !important;
        width: 25% !important;
        height: 25% !important;
    }
    .tab_img {
        display: none !important;
    }
    .title {
        display: none !important;
    }
    .display_img {
        height: 100vh !important;
        width: 100% !important;
    }
    p {
        margin-top: 5% !important;
        margin-right: 5% !important;
    }
}
@media (min-width: 1440px) {
    .card-body > img {
        margin-left: 30% !important;
        margin-top: 10% !important;
        width: 30% !important;
        height: 30% !important;
    }

    .card-body {
        max-height: 100% !important;
        /* font-size: 20px !important; */
    }
    .btn {
        margin-top: 5% !important;
    }
    .display_img {
        height: 100vh !important;
        width: 100% !important;
    }
    p {
        margin-right: 0 !important;
    }
}
.powered{
	position: absolute;
	right: 0;
	bottom: 0;
}