body {
  background: #eee;
  font-family: Arial, Helvetica !important;
  font-size: 18px;
  margin: 0;
}
p{
  margin: 0 !important;
}
#brand-name {
  text-decoration: none;
  color: #fff;
}
.navbar {
  background: #108690 !important;
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
}
#nav-list {
  display: inline-flex !important;
}
#user-clock {
  display: none;
}
.col {
  margin: 15px !important;
  padding: 25px !important;
}
.col > h2 {
  margin-top: 18px;
}
.align-center {
  color: #333 !important;
}
.btn {
  background: #fff !important;
  border-radius: 8px !important;
  border: 1px solid #85929e;
}
a {
  text-decoration: none !important;
  color: #108690;
}
.footer {
  padding: 15px;
  min-height: 60px !important;
  color: #fff;
  background: #333 !important;
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    font-size: 14px !important;
    background: #fff;
  }
  .col {
    padding: 0 !important;
  }
  .col > h2 {
    font-size: 18px !important;
  }
  .btn > a {
    font-size: 14px !important;
  }
  #user-history {
    display: none;
  }
  #user-clock {
    display: block;
  }
  #nav-list {
    display: inline-flex !important;
  }
  .navbar {
    max-height: 60px !important;
  }
  .footer {
    padding: 5px !important;
    font-size: 14px !important;
  }
  .nav-link {
    padding: 5px 10px !important;
  }
}
@media(max-width:767px){
  #last-tagline {
    margin-right: 30% !important;
    margin-bottom: 0 !important;
  }
  #copyrights {
    margin-left: 45px !important;
    margin-bottom: 5px !important;
  }
}
@media (max-width: 375px) {
  .nav-link {
    padding: 5px !important;
  }
  .footer {
    padding: 10px !important;
    font-size: 12px !important;
  }
  #copyrights {
    margin-left: 15px !important;
  }
}
