.square
{
    height: 150px;
    width: 150px;
    border: 1px solid darkgrey;
}
.img-square
{
    height: 150px;
    width: 150px;
}
.img-square {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.img-square:hover {
    /* opacity: 1.0; */
    /* filter: alpha(opacity=100); /* For IE8 and earlier */ */
}
.img-square.bc-active {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.category-title
{
    top: 50px;
    left: 50px;
}
.checkbox_icon
{
    top:0;
    right:0;
    display:none;
    color:#FFF;
}
.submit-button
{
    background: #FF8503;
}
.checkbox_icon.bc-active
{
    color:#FFF !important;
    display:block !important;
    opacity: 1.0;
    filter: alpha(opacity=100);
}
@media only screen and (max-width :576px) {
    .img-square{
        height: 120px !important;
        width: 120px !important;
    }
    .square{
        height: 120px !important;
        width: 120px !important;
    }
    .category-title
    {
        top: 30px !important;
        left: 30px !important;
    }
}
