@import url(https://fonts.googleapis.com/css?family=Delius+Unicase:700);

body {
  background: #fff;
  font-family: Arial, Helvetica !important;
  font-size: 18px;
  margin: 0;
}
.row {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.card > img {
  width: 100%;
  height: 600px !important;
}
.card {
  border: none !important;
  width: 100% !important;
  height: 100% !important;
  /* padding: 10px; */
}
.card-body {
  height: 100% !important;
  margin-bottom: 0 !important;
}
.card-body > img {
  width: 40%;
  height: 40%;
  margin-top: 130px !important;
  margin-left: 25% !important;
}
.form {
  background: #fff;
  padding: 15px !important;
  margin-top: 50px !important;
}
.form-group {
  margin-top: 20px;
  /* padding: 5px !important; */
  margin-bottom: 5% !important;
}
.form-control {
  background: #eee !important;
  border: none !important;
}

.btn {
  margin-top: 20px;
  position: relative;
  padding: 10px 55px;
  border-radius: 35px;
  background: #108690;
  color: #fff;
  font-weight: bold;
  margin-left: 30%;
  border: none !important;
}
p {
  font-weight: bold;
  font-size: 16px !important;
  float: right;
  margin-right: 8% !important;
}
/* small{
  padding: 5px;
  margin: 5px !important;
  text-align: justify;
} */
@media only screen and (max-width: 321px) {
  body {
    font-size: 14px !important;
  }
  .card {
    margin: 0 !important;
    padding: 0 !important;
  }
  /* label{
    font-size: 14px !important;
  } */
}
@media (max-width: 376px) {
  .body {
    background: #f2a614 !important;
    font-size: 14px !important;
  }
  .text-muted {
    font-size: 10px !important;
    /* padding: 5px !important; */
  }
  .card {
    margin: 0 !important;
    margin-top: 8% !important;
    padding: 5px !important;
    height: 100% !important;
    background: #fff;
    /* width: 100% !important; */
  }
  .card-body {
    padding: 5px !important;
  }

  .title {
    font-size: 18px !important;
  }
  .display_img {
    display: none !important;
  }
  .btn {
    margin: auto !important;
    margin-left: 3% !important;
    padding: 5px 30px !important;
  }
}
@media (max-width: 426px) {
  .card-body {
    padding: 8px !important;
  }
  /* .main-content {
      margin-top: 15% !important;
    } */
}
@media only screen and (max-width: 600px) {
  .btn {
    /* margin: 0 !important; */
  }
}

@media (max-width: 768px) {
  body {
    margin: 0 !important;
    height: 100% !important;
    background: #f2a614;
  }
  .title {
    display: block !important;
    text-align: center;
    padding: 5px !important;
    margin: 10px !important;
    margin-top: 10px !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .display_img {
    display: none;
  }
  .tab_img {
    margin-left: 20% !important;
    /* margin-top: 5% !important; */
    display: block;
    height: 20% !important;
    width: 60% !important;
  }
  .card {
    position: relative;
    background: #fff !important;
    /* margin-top: -30% !important; */
    width: 90% !important;
    height: 55% !important;
    margin-top: 0 !important;
    margin-left: 5% !important;
    margin-bottom: 2% !important;
    z-index: 1 !important;
    /* margin-right: 10% !important; */
  }
  .card-body {
    padding: 20px;
    width: 100%;
    height: 50% !important;
    /* margin-left: 10% !important; */
  }
  .card-body > img {
    height: 30%;
    width: 30%;
    margin-top: 5% !important;
    margin-left: 35% !important;
  }

  .form {
    margin-top: 5% !important;
    padding: 5px !important;
  }
  .form-group {
    margin-bottom: 5% !important;
    /* margin-top: 0 !important; */
  }

  .btn {
    margin-top: 10% !important;
    margin-left: 40% !important;
    padding: 5px 40px;
  }
  p {
    font-weight: bold;
    /* margin-bottom: 3% !important;
    margin-left: 40% !important; */
  }
}
@media (min-width: 769px) {
  .tab_img {
    display: none !important;
  }
  .title {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .form {
    margin-top: 5% !important;
  }
  .card-body {
    max-height: 100% !important;
    padding: 0 !important;
  }
  .card-body > img {
    margin-left: 30% !important;
    margin-top: 8% !important;
    width: 25% !important;
    height: 25% !important;
  }
  .display_img {
    height: 100% !important;
    width: 100% !important;
  }
}

@media (min-width: 1024px) {
  .form {
    margin-top: 5% !important;
  }
  .card-body {
    max-height: 100% !important;
    padding: 0 !important;
  }
  .card-body > img {
    margin-left: 30% !important;
    margin-top: 10% !important;
    width: 25% !important;
    height: 25% !important;
  }
  .tab_img {
    display: none !important;
  }
  .title {
    display: none !important;
  }
  .display_img {
    height: 100% !important;
    width: 100% !important;
  }
  p {
    margin-top: 5% !important;
    margin-right: 5% !important;
  }
}
@media (min-width: 1440px) {
  .card-body > img {
    margin-left: 30% !important;
    margin-top: 10% !important;
    width: 30% !important;
    height: 30% !important;
  }

  .card-body {
    max-height: 100% !important;
    padding: 0 !important;
    /* font-size: 20px !important; */
  }
  .form {
    margin-top: 5% !important;
  }
  .btn {
    margin-top: 10% !important;
  }
  .display_img {
    height: 100% !important;
    width: 100% !important;
  }
}
