body {
  background: #eee;
  font-family: Arial, Helvetica !important;
  font-size: 16px;
  margin: 0;
}
.book-title {
  margin: 0;
}
#brand-name {
  text-decoration: none;
  color: #fff;
  margin: 0 !important;
}
.navbar {
  background: #108690 !important;
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
}
#nav-list {
  display: inline-flex !important;
}

.card-body {
  padding: 10px !important;
  height: 100% !important;
}
/* .col {
  padding: 10px !important;
} */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 10px;
  margin-top: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 5px;
}
.grid2 > .card-body {
  padding: 5px !important;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1px;
}
.grid3 > .card-body > p {
  padding: 5px !important;
  margin: 0 !important;
}
.grid3 > .card-body > p > a {
  color: #fff;
  text-decoration: none;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
.close {
  display: block;
  color: #000 !important;
}
.return-date {
  padding: 0 !important;
  /* color: #fff; */
  background: #fff;
}
.one,
.two,
.three {
  background: #108690;
}

.btn {
  color: #fff;
  font-size: 10px !important;
  width: 100% !important;
  /* margin-bottom: 5px !important; */
}
.footer {
  padding: 15px;
  min-height: 60px !important;
  color: #fff;
  background: #333 !important;
  overflow: hidden;
}
#user-clock {
  display: none;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid2 {
    grid-template-columns: 40% 60%;
  }
}
@media (max-width: 768px) {
  #user-history {
    display: none;
  }
  #user-clock {
    display: block;
  }
  #nav-list {
    display: inline-flex !important;
  }
  .navbar {
    max-height: 60px !important;
  }
  .footer {
    padding: 5px !important;
    font-size: 14px !important;
  }
}
@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid2 {
    grid-template-columns: 40% 60%;
  }
  #last-tagline {
    margin-right: 30% !important;
    margin-bottom: 0 !important;
  }
  #copyrights {
    margin-left: 45px !important;
    margin-bottom: 5px !important;
  }
}
@media (max-width: 426px) {
  body {
    font-size: 14px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .col > h2 {
    font-size: 18px !important;
  }
}
@media (max-width: 376px) {
  .footer {
    padding: 10px !important;
    font-size: 12px !important;
  }
  .nav-link {
    padding: 5px !important;
  }
  #copyrights {
    margin-left: 20px !important;
  }
  .card {
    width: 100% !important;
  }
  .col {
    padding: 0 !important;
  }
}

@media (max-width: 374px) {
  .card-body > h6,
  .card-body > p {
    font-size: 14px !important;
  }
  .return-date {
    padding: 0 !important;
  }
}
