.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  background-color: #f1f1f1;
  margin:5px;
  cursor: pointer;
}
.chip:hover{
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.selected{
   box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.isbn_checkbox{
  display: none;
}
.shadow{
      box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
